<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration
        PUBLIC "-//Apache//DTD Log4j 1.2//EN"
        "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss.SSS}] %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.github.goldin" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.github.goldin.gcommons" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <level value="WARN"/>
    </root>

</log4j:configuration>